.login__container{
    max-width: 640px;
}

.admin__header{
    max-width: 1000px;
}

.card__cancion, .cancion__autor{
    overflow: scroll;
}

.card__cancion::-webkit-scrollbar {
    display: none;
}


.cancion__autor::-webkit-scrollbar {
    display: none;
}

.cancion__data{
    max-width: 80%;
}

.react-confirm-alert{
    width: 50%;
    min-width: 360px;
}

.form__cancion__container{
    min-width: 50%;
    max-width: 90%;
}